body{background-image: url("albertsanchezhc.github.io/Images/cos.jpg")
}
h1{color: red;
font-size: 600%
}
h2{color: #248f24;
font-size: 300%
}
pre{color:  #ffff00;
font-size: 200%
}
h3{color: #248f24;
font-size: 300%
}
h4{color: #248f24;
font-size: 300%
}
